<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reUnite.co | View Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}" />
</head>

<body>
    <nav>
        <h1 id="Logo">Lost and Found</h1>
        <div class="navButtons">
            <a href="{{ url_for('view')}}">VIEW DATABASE</a>
            <a href="{{ url_for('report') }}">REPORT AN ITEM</a>
            <a href="{{ url_for('markFound') }}">MARK AN ITEM AS FOUND</a>
        </div>
    </nav>
    <div>
        <h1>VIEW LOST ITEMS</h1>
        <form method="POST">
            <button type='submit' name='refresh'>REFRESH</button>
        </form>
        <div id="DB">
            {% if data %}
                {% for item in data %} 
                    <li class="items">
                        <h1>{{ item.name }}</h1>
                        <p>Date: {{ item.date }}</p>
                        <p>Description: {{ item.description }}</p>
                        <p>Location: {{ item.location }}</p>
                        <p>Owner: {{ item.owner }}</p>
                        <p>Is Found: {{ item.isFound }}</p>
                    </li>
                {% endfor %}
            {% else %}
                <p>No data available</p>
            {% endif %}
        </div>
    </div>
</body>
