{% extends "protected.html" %}
{% block content %}
    <div>
        <h1>VIEW LOST ITEMS</h1>
        <form method="POST">
            <button type='submit' name='refresh'>REFRESH</button>
        </form>
        <div id="DB">
            {% if data %}
                {% for key, value in data.items() %} 
                    <li class="items">
                        <p>{{ value.date }}</p>
                        <h1>{{ key }}</h1>
                        <p>Description: {{ value.description }}</p>
                        <p>isFound: {{ value.description }}</p>
                        <p>Location: {{ value.location }}</p>
                    </li>
                {% endfor %}
            {% else %}
                <p>No data available</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
